body {
  font-family: "Source Sans Pro";
  background-color: rgba(110, 7, 7, 0.685) !important;
}
.navbar {
  font-size: 1.8em;
  opacity: 0.8;
}
a img {
  width: 50%;
  height: 50%;
}
.navbar-toggler{
  margin-left: auto;
  margin-right: auto;
}
.navbar-header {
  text-align: center
}
.nav-link{
  background-color: cornflowerblue;
  margin: 2px;
  padding: 2px;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
.descriptionAndImg {
  
  text-align: justify;
  font-weight: bold;
  font-size: 22px;
}
.rowMeasure {
  width: 90%;
}
.imgMember {
  width: 100%;
}
.infoComp {
  display: none;
}
/*

.descriptionAndImg img {
  width: 33%;
  height: 300px;
}
ul {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  list-style-position: inside;
  font-weight: bold;

}
.Members {
  display: inline-block;
  text-align: center;
  width: 24%;
}
.member {
  width: 400px;
  height: 200px;
  overflow: auto; 
  display: inline-block;
}
h3 {
  font-size: bold;
}